
.header img{
   width:100vw;
   object-fit:cover;
   border-radius: 15px;
}

.hero-title{
font-size:2.5rem;
line-height:1;
color: var(--Dark-Charcoal)
}

.hero-desc{
   max-width:45ch;
   margin:2rem 0;
   letter-spacing:-0.5px;
   font-weight: 400;
}

@media (min-width:1440px){
   .hero-desc{
      /* border: 2px solid red; */
      max-width: 100ch;
   }

   .header img{
      width:100%;
      object-fit:cover;
border-radius: 15px;
   }
}