.nutrition-desc div{
   display:flex;
   /* flex-direction: column; */
   justify-content: space-around;
   
}

/* .nutrition-desc div span:nth-child(1){
   align-self:start;
} */

.nutrition-desc div span:nth-child(2) {
    color: #964848;
    /* align-self:end; */
}
