.prep-time{
   background-color: var(--Rose-White);
   margin:0 3rem;
   padding:1rem 3rem 1rem 1rem;
   padding-top:1rem;
   /* color:var(--Dark-Raspberry); */
   border-radius:5px;
}

.prep{
   margin-bottom: 1rem;
   color:var(--Dark-Raspberry);
   font-family: 'Outfit', sans-serif;
}

.prep-time ul{
   padding-left:2rem;
   color:var(--Dark-Raspberry);
}
.prep-time ul li{
   padding-bottom: 1rem;
   padding-left:1rem;
   color:var(--Dark-Raspberry);
}

.prep-desc{
   color:var(--Wenge-Brown);
}

.prep-desc b{
   /* color:blue; */
   font-weight:900;
   color:var(--Wenge-Brown);
}
