.prep-time{
   background-color: #F2CDFF61;
   /* padding: 0 4rem; */
   /* margin-inline:auto; */
   margin:0 2rem;
   padding:1rem;
   font-size:1.2rem;
}

/* .prep-time h2{
   font-size:1.8rem;
} */

.prep-time ul{
   padding-top:0.5rem;
   margin-left:1rem;
   /* font-size:1.4rem; */
   text-align:left;
   font-weight:200;
   /* line-height:3rem; */
}