.header img{
   height:100%;
   width:100%;
   object-fit: contain;
}
.hero-title{
 font-size:2.4rem;
 line-height:1;
font-family: 'Young Serif', serif;
padding:2rem 0;
/* color:#FF931DB0; */
}

.hero-desc{
   /* letter-spacing: ; */
   line-height:1.5;
   padding-bottom:2rem;
}

